# Python cache

**pycache**/
*.pyc
*.pyo
*.pyd

# Virtual environment

venv/
env/
.venv/

# Environment variables

.env

# Jupyter Notebook checkpoints

.ipynb_checkpoints/

# System files

.DS_Store
Thumbs.db

# Logs

*.log

